$primary: #202426;
$secondary: #6C733D;
$white: #F2F2F2;
body{
    background-color: $primary;
    margin: 0;
}
header{
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: $white;
    justify-content: space-between;
    .head-text{
        font-size: 1.5em;
        margin: auto 0 auto 2vw;
        text-align: center;
        strong{
            font-size: 1.8rem;
        }
    }
    resume-btn-container{
        margin: auto 2vw auto 0;
        font-size: 1.2em;
    }
}