$color: (
    'black': #1B1B1B,
    'white': beige,
);
@function color($name){
    @return map-get($map: $color, $key: $name)
};

$main-font: "";

@font-face {
    font-family: main;
    src: url($main-font);
}

body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(#00570c,#1e4d2b);
    header{
        position: fixed;
        display: flex;
        height: 6vh;
        width: 100%;
        color: color("white");
        justify-content: end;
        transition: 1s;
        .resume-btn-container{
            display: flex;
            margin: 1rem 1rem 1rem 1rem;
            font-size: 1.2em;
            #resumebtn{
                outline: none;
                align-content: center;
                margin: auto;
                font-size: 1.1em;
                background-color: color("black");
                color: color("white");
                border: color("white") 2px solid;
                transition: 1s;
                width: auto;
                cursor: pointer;
                padding: 6px 12px 6px 12px;
                &:hover{
                    background-color: color("white");
                    border: black 3px solid;
                    outline: none;
                    animation-name: shake;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                }
                &:link{
                    text-decoration: none;
                    color: color("white");
                }
                &:visited{
                    text-decoration: none;
                }
                a{  
                    text-decoration: none;
                    color: color("white");
                    &:hover{
                        color: color("black");
                    }
                }
            }
        }
    }
    main{
        height: 100%;
        text-align: center;
        padding-top: 7vh;
        .center{
            margin: 0 auto 3vw auto;
            width: 100%;
            height: auto;
            color: color("black");
            .first-name{
                font-size: 32vh;
                letter-spacing: 3px;
                height: auto;
                padding: 0;
                align-items: center;
            }
            .mid-bar{
                font-size: 3em;
                color: color("black");
                border-radius: 2rem;
                background-color: white;
                width: 50rem;
                padding: 0 0 4px 0;
                margin: auto;
            }
            .last-name{
                font-size: 32vh;
                letter-spacing: 2px;
                height: auto;
                padding: 0;
                align-items: center;
            }
        }
        .certs-container{
            display: flex;
            margin: auto;
            width: 100%;
            height: auto;
            flex-direction: column;
            display: flex;
            .scroller{
                height: auto;
                display: flex;
                justify-content: space-between;
                margin: auto;
                gap: 6vw;
                padding: 18vh 0 18vh 0;
                .certification{
                    width: 26vw;
                    height: 34vw;
                    background-color: color("black");
                    color: color("white");
                }
                #cert-img1{

                }
                #cert-img2{
                    
                }
                #cert-img3{
                    
                }
            }
        }
        .accordion {
            display: flex;
            flex-direction: column;
            height: auto;
            margin: 14vh 0 24vh 0;
            .accordion-items {
                transition: 1s;
                display: flex;
                height: auto;
                margin: 0;
                width: 100%;
                justify-content: center;
                cursor: pointer;
                flex-direction: column;
                align-content: center;
                .item-header {
                    display: flex;
                    font-size: 4vw;
                    height: auto;
                    background-color: transparent;
                    border: none;
                    width: auto;
                    justify-content: center;
                    color: color("black");
                    &:hover {
                        background-color: color("black");
                        color: white;
                    }
                }
                .text {
                    font-size: 2em;
                    background-color: color("black");
                    color: color("white");
                    border: none;
                    display: flex;
                    height: auto;
                }
                .about-info{
                    flex-direction: row;
                    height: auto;
                    img{
                        width: 40vw;
                        height: 40vw;
                    }
                    span{
                        height: 40vw;
                    }
                }
            }
        }
        
    }
    footer{
        display: flex;
        color: color("white");
        font-size: 1em;
        border-top: solid color("white") 1px;
        margin-top: 4vh;
        .footer-txt{
            padding: 8px;
            margin: auto;
        }
    }
}

@keyframes shake{
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(-1px, -1px) rotate(-1deg); }
    75% { transform: translate(1px, 1px) rotate(1deg); }
    100% { transform: translate(-1px, -1px) rotate(-1deg); }
}

