$color: (
    'primary': #6C733D,
    'secondary': #202426,
    'white': #F2F2F2,
);
@function color($name){
    @return map-get($map: $color, $key: $name)
};

$main-font: "";

@font-face {
    font-family: main;
    src: url($main-font);
}
body{
    background-color: color("primary");
    margin: 0;
}
header{
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: color("primary");
    color: color("white");
    justify-content: end;
    .resume-btn-container{
        display: flex;
        margin: auto 2vw auto 0;
        font-size: 1.2em;
        #resumebtn{
            outline: none;
            padding: 8px 1vw 8px 1vw;
            font-size: 1.1em;
            background-color: color("secondary");
            color: color("white");
            border: color("primary") 2px solid;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
            &:link{
                text-decoration: none;
                color: color("primary");
            }
            &:visited{
                text-decoration: none;
            }
            a{
                text-decoration: none;
                color: color("primary");
            }
        }
    }
}
main{
    background-color: color("primary");
    text-align: center;
    .center{
        margin: 12vh 0 22vh 0;
        width: 100%;
        height: auto;
        background-color: color("primary");
        color: color("secondary");
        .first-name{
            font-size: 12vw;
        }
        .mid-bar{
            font-size: 3vw;
            color: color("primary");
            border-radius: 2rem;
            background-color: color("secondary");
            width: 50vw;
            margin: auto;
        }
        .last-name{
            font-size: 12vw;
        }
    }
    .certs-container{
        display: flex;
        margin: auto;
        width: 100%;
        height: auto;
        background-color: color("secondary");
        flex-direction: column;
        display: flex;
        .scroller{
            height: auto;
            display: flex;
            justify-content: space-between;
            margin: auto;
            gap: 6vw;
            padding: 2vh 0 2vh 0;
            .certification{
                width: 24vw;
                height: 35rem;
                background-color: color("white");
                color: white("secondary");
            }
            #cert-img1{

            }
            #cert-img2{
                
            }
            #cert-img3{
                
            }
        }
    }
}