body{
    margin: 0;
    background-color: black;
}

header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: white;
}

.head-text{
    display: flex;
    width: auto;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    color: black;
    padding: 8px 0 8px 0;
    margin-left: 1rem;
    border-radius: 1rem;
    background-color: white;
}
#header-lower{
    font-size: 1.3rem;
}

button{
    position: relative;
    margin: auto 2rem auto auto;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resumebtn{
    background-color: black;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 0 4px 4px 4px;
}
button a{
    text-decoration: none;
}
button a:link{
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 14rem auto 20rem auto;
}
.first-name{
    width: 100%;
    font-size: 18em;
    color: white;
    text-align: center;
}
.mid-bar{
    width: 60vh;
    background-color: white;
    height: 4rem;
    text-align: center;
    border-radius: 2rem;
    font-size: 3em;
}
.last-name{
    width: 100%;
    font-size: 18em;
    color: white;
    text-align: center;
}


.about-bar{
    width: 100%;
    height: 14rem;
    color: white;
    font-size: 10em;
    text-align: center;
    margin: auto;
}
.contact-bar{
    width: 100%;
    height: 14rem;
    color: white;
    font-size: 10em;
    text-align: center;
    margin: auto;
}
footer{
    border-top: white 2px solid;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 2em;
}
